@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

// Font Family
$txt-font: "Manrope", sans-serif;

// Primary color
$text-clr: hsl(193, 38%, 86%);
$accent-clr: hsl(150, 100%, 66%);

//Neutral colors
$card-clr: hsl(217, 19%, 24%);
$bg-clr: hsl(218, 23%, 16%);

$transition: all 0.15s ease-in;
